{%extends 'admin/master.html'%} {% block body %}
<h1>Admin Dashboard</h1>
<p class="lead">
  Hello, <strong>{{user}}</strong>. This is your homepage. Please remember to
  log out of your account after use. Your browser will <strong>NOT</strong> log
  you out when you close it.
</p>
<form action="/logout"><button class="btn btn-danger">Logout</button></form>
<h2>CSV File Upload</h2>
<p>
  CSV files are for class marklists, they must follow the below given format.
<ol>
    <li>The name of the file must be in the format <code>&lt;class&gt;&lt;division&gt;&lt;year&gt;&lt;exam type&gt;.csv</code>.
      The <code>exam type</code> can be <code>pre</code>, <code>mid</code>, 
      <code>pos</code>, <code>ann</code> or <code>ct&lt;number&gt;</code>, 
      which refer to the pre-mid exam, mid-term exam, post-mid exam, annual
      exam and the cyclic test respectively, where <code>number</code> can be 1, 2, 3... 9. 
      For example, the name of the file for the class XI A mark list of the annual 
      exam for the academic year 2023-24 can be <code>11A2324ann.csv</code>.
      Note that for classes below <code>10</code>, use <code>01, 02, 03</code>etc.</li>
    <li>The structure of the csv much be as such (example): 
      <table class="table">
        <p><strong>The name of this table, let it be <code>01B2425ct2.csv</code></strong></p>
        <tbody>
        <tr class="table-primary">
        <th><strong>Admn. No</strong></th>
        <th><strong>Subject1(max. mark)</strong></tg>
        <th><strong>Subject2(max. mark)</strong></th>
        <th><strong>. . .</strong></th>  
        </tr>
        <tr>
        <td>A1234</td>
        <td>marks1</td>
        <td>marks2</td>
        <td>...</td>
        </tr>
        <tr>
        <td>A5678</td>
        <td>marks3</td>
        <td>marks4</td>
        <td>...</td>
        </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <div class="alert alert-dismissible alert-warning">
        <p class="mb-0">BE SURE TO CHECK THE NAME OF THE FILE. If it is not named correctly, it will not be indexed while searching.
        A failsafe for this HAS NOT been implemented.</p>
      </div>
    </li>
</ol>
</p>
{% if errors %}
<div class="alert alert-danger">
  <strong>{{errors}}</strong>
</div>
{% endif %}
<form action="/admin" method="post" enctype="multipart/form-data">
  <!-- refer https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4 (encoding)-->
  <input type="file" name="csv" />
  <button class="btn btn-info">Upload</button>
</form>

<h2>Clear all generated report card documents</h2>
<a href = "/admin/clear">clear</a>
{% endblock %}


