<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>
  <body class="bg-slate-900">
    <div
      class="max-w-3xl text-orange-400 m-auto mt-6 min-w-3xl flex flex-col justify-center"
    >
      <h1 class="text-5xl font-extrabold font-sans p-2 m-3 ml-0 pl-0">
        Are you sure?
      </h1>
      <p>
        This page contains sensitive information that, if accidentally, or
        otherwise, erased, will need to be rewritten,
        <strong>from scratch</strong>. Are you sure you want to access it?
      </p>
      <form action ="/students" method = "post">
        <label>Passkey</label><input type="text" name="passkey"></input>
      <form>
    </div>
  </body>
</html>
